* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 1.5em;
    color: #344D59;
}

h2 {
    font-size: 1.1em;
    color: #E3AA68;
    font-weight: 500;
}

h3 {
    color: #E3AA68;
}

.text {
    font-size: 13px;
    line-height: 28px;
    text-align: justify;
}

.header {
    grid-area: header;
    margin: 25px;
}

.section {
    display: grid;
    grid-template-areas: "header header" "col1 col2" "footer footer";
    grid-template-columns: 1fr 6fr;
    grid-gap: 0px;
    align-items: flex-start;
}

@media all and (max-width: 800px) {
    /*.sidebar{ display: none;}*/
    .section {
        display: grid;
        grid-template-areas: "header " "col1" "col2" "footer";
    }
}

.col1 {
    grid-area: col1;
    color: whitesmoke;
}

.col1 .text {
    background: #344D59;
    padding: 35px;
}

.col1 .img {
    position: relative;
    left: 35px;
    top: -30px;
    height: 300px;
    background: url(assets/recherche-logo-romain-denis-mockup.jpg) center/cover;
}

.col2 {
    grid-area: col2;
    color: #344D59;
    margin-top: 35px;
}

.col2 .text {
    margin-top: 25px;
    padding: 35px 35px 0px 70px;
}

.logo {
    position: relative;
    bottom: 35px;
    left: 100px;
}

.icones {
    padding: 0px 0px 15px 100px;
}
